#product-carousel {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.product-carousel-container {
    width: 524px;
    height: 524px;
    border-radius: 100%;
    background: linear-gradient(90deg, rgba(245,248,253,0) 0%, rgba(245,248,253,0.5) 50%, rgba(245,248,253,1) 100%);
    rotate: -22deg;
    position: relative;
    
}
.product-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    height: 100%;
    rotate: 22deg;
}
.header-icon {
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 177, 130, 0.1), rgba(1,67,190,0.1));
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 100%;
}
.product-bought-info_header {
    display: flex;
    align-items: center;
}
.product-bought-info {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 10px;
    width: 265px;
    height: 130px;
    box-shadow: 0 13px 20px -7px rgba(1,67,190,0.08);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    padding: 5px;
}
.product-bought-info-text {
    font-size: 14px;
    font-family: var(--font-open-sans);
    font-weight: 500;
    line-height: 1.9;
    letter-spacing: 0.5px;
}
.product-bought-info-text_location {
    color: var(--secondary-500);
}
.product-bought-info-text_name {
    color: var(--primary-500);
}
.product-carousel-points-info {
    width: 126px;
    position: absolute;
    bottom: 0;
    right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.points {
    color: var(--secondary-500);

}
.product-carousel-points-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    position: relative;
    top: -25px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0px 20px 7px rgba(0,177,130,0.1);
    border-radius: 10px;
    height: 100px;
    width: 150px;
}
.product-carousel-points-container {
    font-family: var(--font-open-sans);
    font-weight: 600;
    font-size: 14px;
}
.text-saved {
    color: var(--primary-500);
    font-weight: 500;
}
.saved-points-wrapper {
    padding: 3px;
    background-color: var(--primary-200);
    border-radius: 10px;
}
.product-carousel-progress {
    display: flex;
    width: 217px;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 40%;
    justify-content: space-between;
}
.carousel-progress-number {
    color: var(--secondary-500);
    font-weight: 500;
    font-family: var(--font-open-sans);
}
.carousel-progress {
    width: 142px;
    background-color: #ECECEE;
    height: 2px;
}
.carousel-current-progress {
    width: 74px;
    background-color: var(--secondary-500);
    height: 2px;
}