#hero-section {
    display: flex;
    align-items: center;
    overflow: hidden;
}
.hero-section-title-wrapper {
    width: 50%;
}
.hero-section-subtitle {
    font-family: var(--font-open-sans);
    font-weight: 600;
    font-size: 15px;
}
.subtitle-icon-wrapper {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    overflow: hidden;
    background: linear-gradient(to right, rgba(1, 67, 190, 0.06), rgba(34, 227, 147, 0.06));
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitle-icon-container {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 100%;
}
.subtitle-icon-wrapper:nth-child(2) {
    margin-left: -5px;
}
.subtitle-icon-wrapper:nth-child(3) {
    margin-left: -6px;
}
.hero-section-subtitle-wrapper {
    display: flex;
    align-items: center;
}
.subtitle-icons {
    display: flex;
}
.hero-section-heading {
    font-family: var(--font-open-sans);
    font-size: 56px;
    font-weight: 600;
}
.hero-section-heading span:nth-child(1) {
    display: inline-flex;
    align-items: center;
}
.title-anywhere {
    font-family: var(--font-architects-daughter);
    color: var(--secondary-500);
    font-weight: 400;
}
.title-free {
    color: var(--primary-500);
}
.title-ownership {
    color: var(--secondary-500);
}
.title-free-ownership {
    position: relative;
}
.title-squiggle {
    position: absolute;
    top: -5px;
    right: -12px;
    width: 106%;
    height: auto;
}
.title-any {
    color: var(--secondary-500);
}
.title-star {
    position: absolute;
}
.title-star.anywhere {
    top: -60px;
    right: -20px;
}
.title-star.any1 {
    top: 0;
    right: 0;
}
.title-star.any2 {
    top: -55px;
    right: 112px;
}
span.relative {
    position: relative;
}
  @media only screen and (max-width: 768px) {
    #hero-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }
    .hero-section-subtitle {
        font-size: 12px;
    }
    .hero-section-title-wrapper {
        width: 100%;
    }
    .hero-section-heading {
        font-size: 32px;
    }
    .title-cart-vector {
        width: 30px;
        height: 30px;
    }
  }