#navbar {
    padding: 2% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F2F2F2;
    height: 100px;
}
.navbar_logo {
    width: 84px;
    height: auto;
}
.navbar_center {
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar_menu_title {
    font-family: var(--font-open-sans);
    font-weight: 600;
    font-size: 16px;
}