.button-secondary  {
    text-decoration: none;
    width: 184px;
    height: 64px;
    border-radius: 10px;
    background: var(--secondary-500);
    color: white;
    font-family: var(--font-open-sans);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
@media screen and (max-width: 768px) {
    .button-secondary {
        font-size: 13px;
        width: 100px;
        height: 40px;
    }
}