.roadmap-section {
    width: 100%;
    position: relative;
    height: 4000px;
    z-index: 1;
    padding-top: 7%;
}
.roadmap-section::before {
    content: '';
    position: absolute;
    top: 0px; /* Adjust as needed */
    bottom: -10px; /* Adjust as needed */
    left: -50px; /* Adjust as needed */
    right: -10px; /* Adjust as needed */
    background: linear-gradient(to bottom, rgba(205, 231, 255, 1) 30px, rgba(205, 231, 255, 0));
    transform: rotate(-2deg);
    transform-origin: 0 0;
    z-index: -1;
}
.roadmap-section-title{
    font-family: var(--font-open-sans);
    text-align: center;
    font-size: 50px !important;
}
.title-priority {
    position: relative;
}
.priority-squiggle {
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
}
.roadmap-squiggle {
    position: absolute;
    bottom: -150px;
    left: 700px;
}
.roadmap-flower {
    position: absolute;;
    left: 20%;
    top: 200px;
}
.roadmap-star-light {
    position: absolute;
    top: 290px;
    left: 52%;
}